body{
	padding:0px;
	margin:0px;
}
/*--------------------垂直导航--------------*/
/*把导航栏的效果封装好,直接在div中定义class，然后class="gs-menu"*/
.gs-menu{

	font-family:"proxima-nova", sans-serif;
}
.gs-menu>ul{
	/*去除表格样式*/
	list-style:none;
	padding:0px;
	margin:0px;
}

.gs-menu>ul>li>a,.gs-menu-heading{
	/*超链接，内容选项，把文本处理，再变成block*/
	text-decoration:none;
	text-align:center;
	/*变成block*/
	display:block;
	padding:5px 20px;
	margin:0px;
	margin-top:1px;
	/*设置block宽度,不设置就会占满宽度,高度不用设置*/
	
	/*设置文字，背景，边框*/
	color:#66cc99;
	background-color:#ffffff;

	/*css3圆角特性*/
	border-radius:8px;


}
.gs-menu>ul>li>a:hover{
	background-color:#66cc99;
	color:#FFFFFF!important;

	/*css3阴影特性*/
	box-shadow: 2px 2px 5px #888888;
}
.gs-menu-selected>a{
	/*选中的选项卡的颜色会不一样，需要在li中定义class="gs-menu-selected"*/
	border-bottom:2px solid #66cc99 !important;
	border-radius:0px!important;
}
/*--------------------水平导航----------------*/
/*水平导航名字为gs-menu-horizontal，只要定义这样class就可以了,使用这个前要先使用.gs-menu */
.gs-menu-horizontal ul li,.gs-menu-heading{
	float:left;
	width:110px;
	margin-left:2px;
}
/*水平导航带标题,要在横向gs-menu-horizontal的基础上才能用这个*/
.gs-menu-horizontal-heading{
	/*由于这个已经继承了gs-menu的a样式设计，把文字,宽度样式改一下就可以了*/
	width:100px;

}


/*--------------------水平导航分离器，就是多个选项卡----------------*/
/*定义class="gs-menu-separator使用"*/
.gs-menu-separator{
	/*去掉默认样式*/
	list-style:none;
	padding:0px;
	margin:0px;

}
.gs-menu-separator>li>a {
	
	/*超链接，内容选项，把文本处理，再变成block*/
	text-decoration:none;
	text-align:center;
	font-size:12px;
	/*变成block*/
	display:block;
	padding:5px 20px;
	margin:0px;
	margin-top:1px;
	/*设置block宽度,不设置就会占满宽度,高度不用设置*/
	
	/*设置文字，背景，边框*/
	color:#66cc99;
	background-color:#ffffff;

}
.gs-menu-separator{
	display:none;
}

.gs-menu-separator>li>a:hover{
	
	border-bottom:2px solid #66cc99;

	/*css3阴影特性*/
	box-shadow: 1px 1px 2px #888888;
}

.gs-menu>ul>li:hover>ul{
	display:block;
}
/*---------------------------------垂直导航-------------------------*/
.gs-menu-vertical{
	/*把宽度调节好*/
	width:120px;
	/*添加导航边框*/
	border:1px solid #edd;
}
.gs-menu-vertical>ul>li>a{
	/*把gs-menu时候设置圆角去掉*/
	border-radius:0px;
	
	/*文本做对齐*/
	text-align:left;
	/*颜色翻转，外边为浓色调*/	
	background-color:#66cc99;
	color:#FFFFFF!important;

}
/*导航栏分来标题．在li中定义class="gs-menu-vertical-heading使用"*/
.gs-menu-vertical-heading{
	/*转换大写，并且添加下栏虚线*/

	border-bottom-style:solid;
	border-color:#99cc66;
	border-width:0.5px;

	text-transform:uppercase;
	font-size:10px;
	text-align:center;
	color:#777;
	background-color:#eee;

}
.gs-menu-vertical-separator{
	/*去掉默认样式*/
	list-style:none;
	padding:0px;
	margin:0px;
}
.gs-menu-vertical-separator>li>a{
	/*把a变成block，然后设置属性*/
	text-decoration:none;
	text-align:left;
	
	display:block;
	padding:5px 20px;
	margin:0px;
	
	font-size:12px;
	background-color:#eee;
	color:#66cc99;
}
.gs-menu-vertical-separator>li>a:hover{
	/*定义选择子栏目时候的样式*/
	background-color:#99cccc;
	color:#ffffff;
}
.gs-menu-vertical-separator{
	display:none;
}
.gs-menu-vertical>li:hover ul{
	display:block;
}






